body {
  background: #d2d2c1 url(Imagens/fundo2.png);
  font: 16px Arial, Helvetica, sans-serif;
  text-align: center;
  width: 1300px;
  }

#principal {
  
  text-align: center;
  
}

#menu {
  background: rgb(233, 199, 205);
  padding: 20px;
  padding-left: 20px;
  padding-right: 10px;
}

a {
  color: rgb(12, 12, 75);
  text-decoration: none;
  font-weight: bold;
  padding: 15px;
}

.texto {
  text-align: justify;
  color: rgb(12, 12, 75);
  padding: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.rodape {
  text-align: center;
  font-weight: bold;
  color:  rgb(12, 12, 75);
}

h1{
    color:  rgb(12, 12, 75);
    font-size: 1.2m;
    
}

.img-campanha{
    border: 10px solid #c3c3ae;
    max-width:800px;
    max-height:750px;
    width: auto;
    height: auto;
}


